* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Space Mono", monospace;
}

@font-face {
  font-family: "Space Mono", monospace;
  src: url(../../fonts/Space-Mono/SpaceMono-Regular.ttf);
}
@font-face {
  font-family: "Lexend Deca", sans-serif;
  src: url(../../fonts/Lexend-Deca/SpaceMono-Regular.ttf);
}
header {
  background-image: url(../../imgs/bg-optm-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-position-y: 100px;
}
@media (max-width: 768px) {
  header {
    background-image: url(../../imgs/for-tablet.jpg);
  }
}
@media (max-width: 576px) {
  header {
    background-image: url(../../imgs/for-mobile.jpg);
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  padding: 20px 0 20px 0;
}
@media (max-width: 576px) {
  .navbar {
    flex-direction: row-reverse;
    width: 70%;
  }
}
.navbar__burger {
  display: none;
}
@media (max-width: 576px) {
  .navbar__burger {
    display: flex;
  }
}
.navbar__remove {
  display: none;
}
.navbar__menu {
  display: flex;
  column-gap: 32px;
  width: 55%;
  align-items: center;
}
@media (max-width: 768px) {
  .navbar__menu {
    justify-content: center;
  }
}
@media (max-width: 576px) {
  .navbar__menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 98px;
    left: -30px;
    background-color: #333A44;
    height: 85vh;
    max-width: 300px;
    width: 100%;
    row-gap: 25px;
    transform: translateX(-100px);
    visibility: hidden;
    transition: 0.5s ease-in;
  }
}
.navbar__menu__span {
  display: flex;
  align-items: center;
  column-gap: 32px;
}
@media (max-width: 576px) {
  .navbar__menu__span {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }
}
.navbar__btn {
  padding: 14px 39px;
  background-color: #FCB72B;
  color: #FFFFFF;
  border: none;
  transition: 0.5s ease-out;
}
@media (max-width: 576px) {
  .navbar__btn {
    display: none;
  }
}
.navbar__btn:hover {
  border: 1px solid #FCB72B;
  color: #FCB72B;
  background-color: #FFFFFF;
  transform: 0.5s;
}
.navbar__item__link {
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  line-height: 25px;
  color: #939CAA;
  transition: 0.5 ease;
}
@media (max-width: 768px) {
  .navbar__item__link {
    column-gap: 32px;
  }
}
.navbar__item__link:hover {
  color: #000;
  transform: 0.5s;
  border: none;
  font-size: 15.2px;
  font-weight: 900;
  border-bottom: 3px solid #FCB72B;
}
.navbar__burger {
  display: none;
}
@media (max-width: 768px) {
  .navbar__burger {
    display: none;
  }
}
@media (max-width: 576px) {
  .navbar__burger {
    display: block;
  }
}
.navbar__btn2 {
  display: none;
}
@media (max-width: 576px) {
  .navbar__btn2 {
    display: block;
  }
}

.show {
  transform: translateX(0);
  visibility: visible;
}

@media only screen and (-webkit-min-devace-pixel-ratio: 2), only screen and (min--moz-devace-pixel-ratio: 2), only screen and (-o-min-devace-pixel-ratio: 2/1), only screen and (min-devace-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  header {
    background-image: url(../../imgs/bg-optm-img.jpg);
  }
}
@media only screen and (-webkit-min-devace-pixel-ratio: 2) and (max-width: 768px), only screen and (min--moz-devace-pixel-ratio: 2) and (max-width: 768px), only screen and (-o-min-devace-pixel-ratio: 2/1) and (max-width: 768px), only screen and (min-devace-pixel-ratio: 2) and (max-width: 768px), only screen and (min-resolution: 192dpi) and (max-width: 768px), only screen and (min-resolution: 2dppx) and (max-width: 768px) {
  header {
    background-image: url(../../imgs/for-tablet.jpg);
  }
}
@media only screen and (-webkit-min-devace-pixel-ratio: 2) and (max-width: 576px), only screen and (min--moz-devace-pixel-ratio: 2) and (max-width: 576px), only screen and (-o-min-devace-pixel-ratio: 2/1) and (max-width: 576px), only screen and (min-devace-pixel-ratio: 2) and (max-width: 576px), only screen and (min-resolution: 192dpi) and (max-width: 576px), only screen and (min-resolution: 2dppx) and (max-width: 576px) {
  header {
    background-image: url(../../imgs/for-mobile.jpg);
  }
}
.chapter__title {
  font-size: 56px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
  max-width: 500px;
  color: #FFFFFF;
  width: 100%;
  padding-top: 210px;
}
@media (max-width: 768px) {
  .chapter__title {
    max-width: 563px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
@media (max-width: 576px) {
  .chapter__title {
    max-width: 300px;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -1.79px;
  }
}
.chapter__text {
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  padding-bottom: 40px;
  padding-top: 40px;
  max-width: 580px;
  padding-left: 95px;
  width: 100%;
}
@media (max-width: 768px) {
  .chapter__text {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 32px;
    padding-left: 0;
  }
}
@media (max-width: 576px) {
  .chapter__text {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
}
.chapter__btn {
  margin-left: 95px;
}

@font-face {
  font-family: "Space Mono", monospace;
  src: url(../../fonts/Space-Mono/SpaceMono-Regular.ttf);
}
@font-face {
  font-family: "Lexend Deca", sans-serif;
  src: url(../../fonts/Lexend-Deca/SpaceMono-Regular.ttf);
}
.container {
  max-width: 1166px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}/*# sourceMappingURL=main.css.map */