* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    overflow-x: hidden;
}

body {
    font-family: 'Space Mono', monospace;
}

@import './blocks/varibles';
@import './blocks/mixins';
@import './blocks/fonts';
.container {
    max-width: 1166px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

@import './blocks/header';
@import './blocks/midle';
@import './blocks/about';
@import './blocks/hero';
@import './blocks/tech';
@import './blocks/footer';