* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: 'Space Mono', monospace;
}

@import './blocks/variables';
@import './blocks/mixins';
@import './blocks/fonts';
@import './blocks/header';
@import './blocks/footer';
@import './blocks/fonts';
@import './blocks/section';
.container {
    max-width: 1166px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}