header {
    background-image: url(../../imgs/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position-y: 122px;
    @include for-tablet {
        background-image: url(../../imgs/bg-tablet.jpg);
    }
    @include for-phone {
        background-image: url(../../imgs/bg-mobile.jpg);
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 0 0 34px;
    background-color: #FFFFFF;
    @include for-phone {
        flex-direction: row-reverse;
        width: 60%;
    }
    &__menu {
        display: flex;
        column-gap: 32px;
        width: 55%;
        align-items: center;
        @include for-tablet {
            justify-content: center;
        }
        @include for-phone {
            @include for-phone {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 98px;
                left: -30px;
                background-color: #333A44;
                height: 85vh;
                max-width: 300px;
                width: 100%;
                row-gap: 25px;
                transform: translateX(-100px);
                visibility: hidden;
                transition: 0.5s ease-in;
            }
        }
    }
    &__btn {
        padding: 14px 39px;
        background-color: $button_color;
        color: #FFFFFF;
        border: none;
        transition: 0.5s ease-out;
        @include for-phone {
            display: none;
        }
    }
    &__btn:hover {
        border: 1px solid $button_color;
        color: $button_color;
        background-color: #FFFFFF;
        transform: 0.5s;
    }
    &__item__link {
        text-decoration: none;
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        color: $primary_text_color;
        transition: 0.5 ease;
        @include for-tablet {
            column-gap: 32px;
        }
    }
    &__item__link:hover {
        color: #000;
        transform: 0.5s;
        border: none;
        font-size: 15.20px;
        font-weight: 900;
        border-bottom: 3px solid $button_color;
    }
    &__burger {
        display: none;
        @include for-phone {
            display: block;
        }
    }
}

.show {
    transform: translateX(0);
    visibility: visible;
}

@media only screen and (-webkit-min-devace-pixel-ratio: 2),
only screen and (min--moz-devace-pixel-ratio: 2),
only screen and (-o-min-devace-pixel-ratio: 2/1),
only screen and (min-devace-pixel-ratio: 2),
only screen and (min-resolution: 192dpi),
only screen and (min-resolution: 2dppx) {
    header {
        background-image: url(../../images/desktop-bg-2x.jpg);
        @include for-tablet {
            background-image: url(../../images/header-tablet-2x.jpg);
        }
        @include for-phone {
            background-image: url(../../images/header-phone-2x.jpg);
        }
    }
}