header {
    background-image: url(../../imgs/bg-img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position-y: 122px;
    @include for-tablet {
        background-image: url(../../imgs/bg-tablet.jpg);
    }
    @include for-phone {
        background-image: url(../../imgs/bg-mobile.jpg);
    }
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 0 0 34px;
    background-color: #FFFFFF;
    @include for-phone {
        flex-direction: row-reverse;
        width: 60%;
    }
    &__menu {
        display: flex;
        column-gap: 32px;
        width: 55%;
        align-items: center;
        @include for-tablet {
            justify-content: center;
        }
        @include for-phone {
            display: none;
        }
    }
    &__btn {
        padding: 14px 39px;
        background-color: $button_color;
        color: #FFFFFF;
        border: none;
        transition: 0.5s ease-out;
        @include for-phone {
            display: none;
        }
    }
    &__btn:hover {
        border: 1px solid $button_color;
        color: $button_color;
        background-color: #FFFFFF;
        transform: 0.5s;
    }
    &__item__link {
        text-decoration: none;
        font-size: 15px;
        font-weight: 700;
        line-height: 25px;
        color: $primary_text_color;
        transition: 0.5 ease;
        @include for-tablet {
            column-gap: 32px;
        }
    }
    &__item__link:hover {
        color: #000;
        transform: 0.5s;
        border: none;
        font-size: 15.20px;
        font-weight: 900;
        border-bottom: 3px solid $button_color;
    }
    &__burger {
        display: none;
        @include for-phone {
            display: block;
        }
    }
}