.zero__info {
    position: relative;
    &__img {
        position: absolute;
        top: 500px;
        right: 115px;
        @include for-tablet {
            position: absolute;
            top: 0;
        }
    }
    &__image {
        position: absolute;
        top: 0;
        right: 0;
        @include for-phone {
            display: none;
        }
    }
}

.zero {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include for-tablet {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 56px;
    }
    &__right {
        &__title {
            max-width: 435px;
            width: 100%;
            font-weight: 700;
            font-size: 48px;
            line-height: 48px;
            letter-spacing: -2.14px;
            color: $title_color;
            @include for-tablet {
                text-align: center;
                padding-top: 56px;
                padding-bottom: 40px;
            }
        }
        &__text {
            max-width: 408px;
            width: 100%;
            font-family: $text_font;
            font-weight: 400px;
            font-size: 15px;
            line-height: 25px;
            color: $link_color;
            padding: 24px 0 40px 0;
            @include for-tablet {
                text-align: center;
                padding: 0;
                padding-bottom: 40px;
            }
            @include for-phone {}
        }
        &__btn {
            @include for-tablet {
                max-width: 180px;
                width: 100%;
                margin-left: 110px;
            }
        }
    }
    &__left {
        position: relative;
        &__img {
            border-radius: 50%;
        }
        &__str {
            position: absolute;
            top: 300px;
            right: -170px;
            z-index: 3;
            @include for-phone {
                top: 235px;
                right: -280px;
            }
        }
    }
}