$primary_text_color:#939CAA;
$button_color:#FCB72B;
$white_color:#FFFFFF;
$title_color:#495567;
$title_font: 'Space Mono',
monospace;
$text_font: 'Lexend Deca',
sans-serif;
$link_color:#939CAA;
$bg-color:#333A44;
$secondary_color:#E5ECF4;